@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #151c2c;
}

body {
    color: white;
    display: flex;
}

#root {
    min-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.dark {
    background-color: #151c2c;
}

.light{
    background-color: skyblue;
}

a {
    color: inherit;
    text-decoration: none;
}
